<div style="padding: 45px; background-color: #6c757d">
  <h1 class="text-dark">Welcome to Scruffy's Snack Bracket!</h1>
  <div class="text-light">
    <p>Select your bracket below or create a new one!</p>
    <%= link_to("New Bracket", new_bracket_path, class: "btn btn-primary btn-lg") %>
    <ul style="margin-top: 20px;">
      <% @brackets.each do |bracket| %>
        <li>
          <%= link_to("#{bracket.name} (#{bracket.score})", bracket_path(bracket), class: "btn btn-success btn-lg p-2") %>
        </li>
      <% end %>
    </ul>
    <p style="margin-top: 5px;">Check back here soon for the first round matchups.</p>
  </div>



  <%= render("correct_bracket") %>
</div>

