<div style="padding: 45px; background-color: #6c757d">
  <h1 class="text-dark">Welcome to Scruffy's Snack Bracket!</h1>
  <div class="text-light">
    <p>Select your bracket below or create a new one!</p>
    <%= link_to("New Bracket", new_bracket_path, class: "btn btn-primary btn-lg") %>
    <p style="margin-top: 5px;">Check back here soon for the first round matchups.</p>
  </div>

  <ul>
    <% @brackets.each do |bracket| %>
      <li style="padding: 5px;">
        <%= link_to(bracket.name, bracket_path(bracket), class: "btn btn-dark") %>
      </li>
    <% end %>
  </ul>


  <%= render("correct_bracket") %>
</div>

