<div class="container" style="padding: 25px;">
  <h1 class="border border-secondary text-info text-center rounded-top" style="padding: 5px;">The Official Scruffy Snack Bracket</h1>
  <div class="p-3 mb-2 bg-dark text-white">
    <p>Being apart for almost a whole year has been difficult! We wanted to do our part to make the holidays a little more fun.</p>
    <p>It’s like March Madness, but it’s <strong>Scruffy</strong> choosing treats! Create your own bracket, and we will announce a winner by New Year’s!</p>
    <p>There will be periodic video updates (<i>hosted on YouTube? and linked here</i>) so that y’all will know if his choice was a difficult one or not.</p>

    <p>You’d be surprised what he likes to eat.</p>

    <p>Party on,</p>
    <h4><i>Sarah & Austin<i></h4>
  </div>

  <div class="p-3 mb-2">
    <h2 class="text-warning">Instructions & Rules</h2>
    <ul class="list-group">
      <li class="list-group-item">Build your bracket <a target="_blank" href="/brackets/new">here</a>.</li>
      <li class="list-group-item">As you progress in the rounds you will be able to select any of the food (not just the ones you had winning previously), use it or don't.</li>
      <li class="list-group-item">View check out all the brackets <a target="_blank" href="/brackets">here</a>.</li>
      <li class="list-group-item">Scoring is as follows 1pt for each correct in round 1, 2pts for round 2, etc..</li>
      <li class="list-group-item">Your running score is on your bracket (a full scoreboard may be in the future).</li>
      <li class="list-group-item">If you encounter any problems email Austin: <strong style="text-decoration: underline">austin.cotant@gmail.com</strong></li>
    </ul>
  </div>
</div>
