<div style="padding: 45px; background-color: #6c757d">
  <h1>Complete Your Bracket Below</h1>
  <div class="text-light">
    <p>Select the foods you think Scruffy will chow down on first</p>
    <p>As you move up in the rounds make sure you select a winner from your previous winners</p>
  </div>

  <%= render("form_fields") %>
</div>
