// Place all the styles related to the api/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 65px;

  a {
    color: #717275;
    position: absolute;
    right: 5px;
    top: -15px;
    text-transform: uppercase;
    font-size: 12px;
  }

  a:hover {
    color: gray;
  }

  .userform {
    color: black;
    width: 320px;
    position: relative;

  input {
    color: black;
  }

  .input {
      font-size: 14px;
      padding: 12px 16px 12px;
      width: 100%;
      box-sizing: border-box;
      height: 44px;
      line-height: 1.21;
      background: transparent;
      border: 1px solid #D3D6DC;
      border-radius: 0;
      -webkit-appearance: none;
    }

    .input:focus {
      background-color: white;
      outline: 4px solid rgba(130, 151, 255, 0.4);
      border: 1px solid #6B8EFD;
    }

    li {
      margin-top: 13px;
    }

    button {
      width: 100%;
      background: #1ddd7c;
      font-size: 14px;
      color: #fff;
      padding: 12px 15px;
      border-radius: 2px;
      line-height: 20px;
      cursor: pointer;
      font-weight: 200;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-top: 10px;
    }

    .holder {
      display: flex;
      justify-content: space-between;
    }

    .placeholder {
      color: #717275;
      margin-left: 10px;
    }

    .placeholder:first-child {
      margin-left: 0px;
    }

    input[type='radio'] {
      display: none;
    }

    input[type="radio"]:checked + label {
      color: black;
      border: 1px solid #1ddd7c;
    }

    .no-margin {
      margin: 0;
    }
  }

  .line {
    height: 1px;
    width: 130px;
    background-color: #717275;
  }

  .or-container {
    align-items: center;
    color: #717275;
    margin-top: 7px;
    margin-bottom: 3px;
    font-weight: 200;
  }
}

.error-div {
  height: 100px;
  color: red;
  font-size: 12px;
  padding: 3px;
  text-align: center;
  border: 1px solid red;
  margin-bottom: 20px;
}

.none {
  border: 1px solid transparent;
}

#demo {
  background-color: #3B5998;
  font-weight: 300;
}
