.splash {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;

  p {
    margin-top: 4px;
    text-align: right;
    font-weight: 300;
  }
}

.splash-image {
  background-image: url('https://images.pexels.com/photos/54326/runners-male-sport-run-54326.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: 0 -400px;
  // background-image: url('https://images.pexels.com/photos/39308/runners-silhouettes-athletes-fitness-39308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 1150px;
  padding-right: 75px;

  .line {
    height: 5px;
    background-color: white;
    width: 100px;
  }

  h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .splash-signup {
    line-height: 44px;
    width: 290px;
    height: 44px;
    font-weight: 800;
    font-family: 'Armour-Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
  }

  .login-box {
    display: flex;
    width: 290px;
    justify-content: flex-end;
    align-items: center;

    p {
      font-style: italic;
      font-weight: 200;
    }
  }

  .splash-login {
    font-size: 14px;
    width: 96px;
    border: 2px solid #d3d6dc;
    border-radius: 4px;
    padding: 6px 0;
    color: white;
    text-align: center;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 300;
  }

  .splash-login:hover {
    background-color: rgba(227, 227, 217, .2);
  }

}
