// Place all the styles related to the api/Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-container {
  margin-left: 12%;
  margin-right: 12%;
  position: relative;
  margin-bottom: 50px;

  h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 15px 0;
  }

}

.row-container {
  display: flex;
}

.workout-form-container {
  width: 70%;
  flex-direction: column;
  padding-left: 30px;

  label {
    font-weight: bold;
    font-size: 14px;

    p {
      margin-top: 20px;
      text-align: center;
      margin-left: 4px;
      margin-right: 4px;
      font-size: 14px;
      font-weight: lighter;
    }

  }

  input, textarea {
    padding: 10px;
    font-size: 14px;
    color: $dark-gray;
    margin-top: 9px;
    display: block;
    border: 1px solid $light-gray;
    height: 25px;
  }

  input:focus, textarea:focus {
    outline: 4px solid rgba(130, 151, 255, 0.4);
    border: 1px solid #6B8EFD;
  }

  textarea {
    width: 90%;
    height: 60px;
  }

  .title-container {
    border-top: 1px solid $light-gray;
    padding: 20px 0;
    display: flex;
    align-items: center;

    i {
      color: $light-blue;
      border: 3px solid $light-blue;
      border-radius: 50%;
      font-size: 30px;
      margin-right: 15px;
      padding: 15px 11px;
    }

    p {
      font-size: 13px;
    }

  }

  form {
    display: flex;
    flex-direction: column;
  }

  .workout-detail-form {
    label {
      margin: 25px 0px;
    }
  }

  .workout-form {
    background-color: $route-background;
    border: 1px solid $light-gray;
    padding: 10px;

    label {
      margin: 7px;
      padding: 5px;
    }
  }
  .time-box {
    width: 50px;
    text-align: right;
  }

  .workout-button {
    background-color: $button-blue;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
  }

  .save {
    font-weight: lighter;
    padding: 12px 12px;
    font-size: 16px;
    letter-spacing: .08em;
    min-width: 187px;
  }

  #date-container {
    width: 30%;
    margin-right: 10%;
  }

  #date {
    width: 100%;
  }

  #title-container {
    width: 45%;
    margin-right: 10%;
  }

  #title {
    width: 100%;
  }

}

.route-dropdown {
  position: relative;
  width: 80%;
  border: 1px solid $light-gray;
  // border-right: 1px solid white;
  // border-left: 1px solid white;
  padding: 10px;
  margin-top: 10px;

  .hidden {
    display: none;
  }

  #routes {
    z-index: 1;
    border: 1px solid $light-gray;
    border-top: none;
    position: absolute;
    left: -2.5px;
    top: 38px;
    background-color: white;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
  }

  #default-route {
    margin: 5px;
    color: $medium-gray;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }


  .selected-route {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    img {
      height: 120px;
      width: 120px;
    }

    span {
      font-size: 16px;
      color: black;
      margin-right: 10px;

      p {
        font-size: 12px;
        color: $medium-gray;
        display: block;
      }
    }

    strong {
      color: $light-blue;
      font-size: 14px;
      display: block;
    }

    p {
      font-size: 14px;
      font-weight: lighter;
    }

    .button {
      font-size: 14px;
      width: 120px;
      border: 2px solid $medium-gray;
      border-radius: 4px;
      padding: 6px;
      color: $medium-gray;
      margin-left: 15px;
      text-transform: uppercase;
      font-weight: 300;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .route-dropdown-item {
    border-top: 1px solid $light-gray;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
    height: 50px;

    img {
      width: 35px;
      height: 35px;
    }

    strong {
      margin-left: 4px;
      color: $dark-gray;
    }

    p {
      margin-top: 2px;
      font-size: 12px;
      font-weight: lighter;
    }

    div {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .route-dropdown-item:hover {
    background-color: $lightest-blue;

    strong {
      color: black;
    }
  }
}
