.workout-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  width: 70%;

  a {
    margin-left: 15px;
  }


}

.workout-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
