$background-gray: #F0F0F0;
$dark-gray: #717275;
$medium-gray: #AFAFAF;
$light-gray: #D3D6DC;
$route-background: #F9F9F9;
$green-button: #1ddd7c;
$create-orange: #F3913D;
$create-orange-hover: #ED8139;
$hover-gray: #ECECEC;
$link-blue: #5296DF;
$link-blue-hover: #92C8EF;
$light-blue: #2F8DDB;
$button-blue: #2576C0;
$lightest-blue: rgba(171, 216, 249, .8);
