.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid #BBBDC3;
  .navlink {
    color: #717275;
    text-transform: uppercase;
    font-size: 12px;
    margin: 3px;
    margin-left: 20px;
  }

  .navlink:hover {
    color: black;
  }

  .navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .homelink {
      background: linear-gradient(to right, #0F3CA9, #339EF7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 30px;
      margin-right: 10px;
      text-transform: uppercase;

      i {
        background: linear-gradient(to right, #0F3CA9, #339EF7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 6px;
      }
    }
  }

  .usernav {
    padding: 3px;
    display: flex;
    align-items: center;
  }

  .signup-link {
    min-width: 60px;
    height: 23px;
    background: #1ddd7c;
    font-size: 12px;
    color: #fff;
    padding: 5px 8.5px;
    border-radius: 2px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
  }

  .logout-button {
    display: flex;
    margin-top: 0;
  }

  .login-link {
    text-transform: none;
    margin-right: 10px;
    font-size: 14px;

  }

}
